* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background: url(./assets/blob4.png) no-repeat top right fixed,var(--primaryBg);
    background-size: contain;
    color: var(--primaryText);
    font-weight: 400;
  }
  
  button {
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
  }
  
  a {
    text-decoration: none;
  }